@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>

    <link href="~/fsLayui/css/layui-select-multiple.css" rel="stylesheet" />
    @Styles.Render("~/fsLayui/css")
    @Scripts.Render("~/fsLayui/js")
    @Scripts.Render(new string[] { "~/fsLayui/plugins/frame/js/frame.js" })
    <!--树-->
    <link href="~/fsLayui/plugins/ztree/css/zteeSelect.css" rel="stylesheet" />
    <script src="~/fsLayui/plugins/ztree/js/ztreeSelect.js"></script>
</head>
<body>
    <div class="layui-fluid">
        <form class="layui-form" isload="1" isurlparamrender="0" >
            <div class="layui-form-item">
                <label class="layui-form-label">原密码：</label>
                <div class="layui-input-block">
                    <input type="password" name="OldPassWord" required="" lay-verify="required" placeholder="请输入原密码" autocomplete="off" class="layui-input" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">新密码：</label>
                <div class="layui-input-block">
                    @*lay-vertype="tips" 提示类型*@
                    <input type="password" id="PassWord" name="PassWord" equalsid="PassWord2" equalsmsg="两次输入密码不一致" required="" lay-verify="required|equals" placeholder="请输入新密码" autocomplete="off" class="layui-input" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">重复新密码：</label>
                <div class="layui-input-block">
                    <input type="password" id="PassWord2" name="PassWord2" required="" lay-verify="required" placeholder="请重复新密码" autocomplete="off" class="layui-input" />
                </div>
            </div>
            <hr />
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" id="btnSub"  lay-submit="" method="post" calljs="onSuccess" url="@Url.ActionAdmin("EditPassWord")">编辑</button>
                    <button type="button" class="layui-btn layui-btn-primary" function="close">关闭</button>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        layui.use(['layer'], function () {
            var layer = layui.layer;
            window.onSuccess = function (rep) {
                if (rep.errorNo == "0") {
                    layer.msg('修改成功！将调至登录页面...',{
                        icon: 1,
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                     }, function () {
                        window.top.location.href = "../Login/Index";
                     })
                    return false;//将不执行fslayui后续代码
                }

            }
        })

    </script>
</body>
</html>
