
* {
    font-size:12px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


.input-validation-error {
    border: 1px solid red !important;
}

.field-validation-error {
    color: red;
    font-size: 1rem;
    position: absolute;
    right: 1.5rem;
    margin-top: -2.2rem;
}

.errorInfo {
    color: red;
    font-size: 1rem;
    text-align:center;
}



/*-----搜索更多---------*/
.search-More {
     padding:5px;
     border: 1px solid #bbb; 
     display: none;
     z-index: 999; 
     width: 99%;
     /*height: 200px;*/ 
     position: absolute; 
     background-color:#ffffff;
     left:0px;
     right:0px;
     min-height:100px;
}

 .search-More .footer {
     margin-top:5px;
     text-align:center;
     border-top:1px solid #bbb; 
     padding:5px;
     width:100%;
     margin-left:-5px;
     position:absolute;
     bottom:2px;
  }

.btn-search-click {
    height:37px !important;
    border-bottom:1px solid #ffffff;
    margin-left:5px;
    position:absolute;
    z-index: 9999; 
}
.btn-search-click:hover {
     border-bottom:1px solid #ffffff;
     position:absolute;
    z-index: 9999; 
}
.e8_btn,.e8_btn_submit,.e8_btn_cancel{
		background-color:transparent;
		color:#007aff;
		word-wrap: normal;
        border:0;
        width:60px;
        height:30px;
	}

.e8_btn:hover,.e8_btn_submit:hover,.e8_btn_cancel:hover{
		background-color:#007aff;
		color:#ffffff;
		word-wrap: normal;
        border:0;
	}
/*-----搜索更多---------*/