<style>
</style>
    <div class="ztree-select">
        <input class="layui-input"  @(ViewBag.isRequired?" required=''  lay-verify=required":"") id="parentName" autocomplete="off" name="parentName" type="text" value="" />
        <input type="hidden" name="ids" id="ids"/>
        <div id="menuContent2" class="menuContent" style="display: none; position: absolute; z-index: 999999; padding-bottom:10px; background-color: #F2F2F2">
            <ul id="treeDemo2" class="ztree" style="margin-top: 0; width: 110px;"></ul>
        </div>
    </div>
    <script type="text/javascript">
    $(function () {
        var option = {};
        option.zNodes =@Html.Raw(ViewBag.DeptTreeData)@(";")
        option.selectnode = "@ViewBag.selectNode";
        //option.treeId = "treeDemo2";
        //option.menuContent = "#menuContent2";
        option.selectedMulti ="@ViewBag.isMul";
        $("#parentName").treeSelect(option);
        //layui.use(['fsFrame'], function () {


        //})

    })
    </script>
